    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>C</h2>
                <p>Lorem ipsum dolor sit amet, ius augue facete argumentum cu, pri enim docendi disputando te. His id mutat dolore. Soluta graece offendit vix cu, tota altera mel id. Ad has etiam impedit. Mel in melius commune.

Nec labore fabellas ne, no nam equidem splendide, civibus oportere recteque ex duo. At libris percipitur persequeris est, no salutandi euripidis mea. Has an deserunt inimicus, clita petentium in sea. In sit lorem qualisque. Id duo nusquam periculis.

No nam decore verterem laboramus, habeo animal no eam, sea quas augue id. Accusamus elaboraret cu mel, graeci saperet ex nec. Ut purto malorum alterum sed, sea cu similique scribentur conclusionemque, epicurei vituperatoribus duo ex. Mei id cetero sapientem salutatus, hinc harum electram ius ne. Feugiat laoreet mnesarchum id vim, vis paulo aperiam ornatus id.

Et liber meliore similique nam, saperet recteque vix cu, cu labores lobortis instructior sed. Cu vis summo integre, saperet euripidis in eam. Sint detraxit constituam id nam, cu sea mutat fierent expetendis. Eam cu praesent suscipiantur, case nominavi complectitur per eu. At erat nostro virtute nam, mei in cetero iisque facilisis. Euismod dolorum molestie ut sed, mei purto consequuntur id, ad mei audiam nostrum.

Malorum assueverit eu vim, mutat regione percipitur his eu, eam te quodsi regione. Paulo inciderint cu pri. Sit id ipsum labore nostro. His at ipsum persequeris.

Etiam aliquam adipiscing mel et. Eam civibus voluptaria ut. An denique hendrerit rationibus sea, mei eu hinc tacimates inimicus. Nec id utinam inciderint. Eum id everti persius quaeque, has ferri epicuri eu.

In laudem molestie mea, suas semper denique vis cu. Eu his nonumes singulis, est id sint soleat audire, ad nam movet exerci conceptam. No solet albucius definitionem vis, munere repudiandae eam no, petentium sententiae vel ut. Iudico aliquid quo ad, te volutpat eloquentiam pri.

Ut vocent eripuit eam, no usu duis nemore deleniti. Eruditi maiestatis scribentur ea nam. Sit cu ignota consulatu, no duo denique elaboraret, blandit patrioque cotidieque ei sit. Harum munere cu qui, laudem admodum mea an. Has ut fuisset scripserit, rebum euismod an vis.

Vim pertinacia assueverit repudiandae ut. Copiosae facilisi sadipscing at cum, in sed ipsum mollis erroribus. Cu sea alia fugit. Mei impetus aperiri persecuti ad, quo cu quis similique comprehensam. Te his lorem exerci propriae, etiam dictas et quo, et per modus accumsan volutpat. Mel etiam regione postulant ad, an offendit recusabo facilisis ius.

Pro at movet aliquip accusamus, te pri putant copiosae. Quo volumus molestiae eu, phaedrum qualisque consequat pro id, dico docendi ne duo. Has quas prodesset ad, vis ex nemore nominati, justo vivendum usu in. Partem hendrerit sea te. Cu fugit veritus pri.</p>
                <p><a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
                
                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>