    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>B</h2>
                    <p>Lorem ipsum dolor sit amet, est omnis necessitatibus ad, ex cum sanctus percipit. Sonet ignota sed ne. Mea an viris petentium disputando, ut per tractatos signiferumque. Solum vitae definitionem et nec, no qui audire deserunt delicata, in alia splendide theophrastus pri. Quem probatus ei vim, no mei case lorem scaevola, te intellegam consequuntur pro.

Has aperiri minimum ne, sed ut quod percipit. Mea cu legere cetero volutpat, ad dolore necessitatibus sea, pro cu dico vidisse. Cum utamur qualisque at. Vide ubique pri ex. Saperet epicurei consulatu vis ne.

In quo dolore mentitum mediocritatem, est no omnium commodo, ex sit tation delicata ocurreret. Mel ne zril petentium erroribus, mazim fuisset conceptam vis in. Et eam mundi sensibus interesset. Ex est quaeque lobortis, eu vis vitae delenit, ad sea nobis patrioque. Ut partiendo definitiones eum, quo mutat soleat conclusionemque at, id sea partem offendit scripserit..</p>
                    <a href="http://baidu.com" class="btn btn-default btn-lg">baidu</a>
                </div>
            </div>
        </div>
    </section>