<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>



<script type="text/javascript">
  $youzikuapi.asyncLoad("http://api.youziku.com/webfont/FastJS/yzk_2D1DA8D3ABA17200", function () { 
  $youziku.load("h1", "ea37d0c1a1a34d6cb45a9d77ae0dd45c", "Source-Han-Light"); 
  $youziku.load("h2", "ea37d0c1a1a34d6cb45a9d77ae0dd45c", "Source-Han-Light"); 
  $youziku.load("h3", "ea37d0c1a1a34d6cb45a9d77ae0dd45c", "Source-Han-Light"); 
  $youziku.load("h4", "ea37d0c1a1a34d6cb45a9d77ae0dd45c", "Source-Han-Light"); 
  $youziku.load("h5", "ea37d0c1a1a34d6cb45a9d77ae0dd45c", "Source-Han-Light"); 
  $youziku.load("title", "ea37d0c1a1a34d6cb45a9d77ae0dd45c", "Source-Han-Light"); 
  $youziku.draw();  
  }) 
</script>



  </body>
</html>
